{{page-title "Delete"}}
<div>
    <h1>Supprimer cette section : {{@model.name}}</h1>
    <LinkTo class="button" @route="section">Annuler</LinkTo>
    <button class="button"{{action 'delete' @model}}>Enregistrer</button>
</div>
{{outlet}}